.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.Rprofile
state_1pc_samples_aug24/
anes_timeseries_cdf_csv_20220916.csv
facebook_ads_2020.csv
facebook_ads_biden_2020.csv
ads_2020.csv
ad_creative_2000-2012.csv
ad_campaigns_2000-2012.csv